/* 
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
.about button {
  margin-left: 5px;  
}

.about img {
  max-width: 90vw;
  max-height: 80vh;
}

.artwork {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.artwork-detail {
  width: 90vw;
}

.close-icon {
  width: 2em;
  float: right;
  margin-bottom: 4px;
}

.exh {
  margin-bottom: 15px
}

.exh-didactic {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: start;
}

.exh-preview {
  width: 100%;
  /* TODO: make art appear rectangular */
  /* margin: 0 -20% 0 -20%; */
  /* background-color: gainsboro; */
}

.footer {
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 10px 0 10px;
  align-items: center;
  color: lightgray;
}
.footer p {
  padding-right: 10px;
}

.login-container {
  padding: 15px 0 15px 0;
}

.logout-container {
  padding: 15px 0 15px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.membership button {
  margin-bottom: 15px;
}
.membership img {
  max-height: 60vh;
  max-width: 90vw;
}

.plan-visit {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.plan-visit p {
  font-size: small;
}

.store-img {
  max-height: 30vh;
  max-width: 90vw;
  margin-bottom: 15px;
  margin-right: 15px;
}
.title-entry {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.title-form {
  display: flex;
  margin-top: 15px;
  justify-content: center;
  border-radius: 10px;
}