.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.art-detail {
  width: 100vw;
}

.exh {
  margin-bottom: 15px
}

.exh-didactic {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: start;
}

.exh-preview {
  width: 100%;
  /* TODO: make art appear rectangular */
  /* margin: 0 -20% 0 -20%; */
  /* background-color: gainsboro; */
}

.footer {
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: lightgray;
}
.footer p {
  padding-right: 10px;
}

.plan-visit {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.plan-visit p {
  font-size: small;
}